body{
  background-color: rgb(206, 212, 212);
}

    nav :hover{
      color: blue;
    }
    .contact-info {
        margin-top: 20px;
        box-shadow: 2px 2px 2px 2px grey;
        background-color: whitesmoke;
        width: 70%;
        margin-left: 15%;
        font-size: 20px;
    }

    .contact-info i {
       margin-left:30%;
    }
    